In [271]:
import pandas as pd
import numpy as np
ver = 13
file1 = f"C:/Users/alelen/Documents/Export Data/All_points_{ver}.txt"
path = "C:/Users/alelen/Documents/Export Data/"
fields = ["Collection"]
# df = pd.read_csv(file1, skiprows=5, delimiter=",", on_bad_lines="skip", usecols=fields, skip_blank_lines=True)
# df = pd.read_csv(file1, skiprows=5, sep=", ", on_bad_lines="skip", skip_blank_lines=True)
df = pd.read_csv(file1, skiprows=6, sep=",", header=None, on_bad_lines="skip", skip_blank_lines=True, engine="python")
df.rename(columns={0:"Collection", 1:"Group", 2:"Point", 3:"R", 4:"Theta", 5:"Phi", 6:"Planar offset", 7:"Radial offset",
                   16:"[U-r]", 17:"[U-theta]", 18:"[U-phi]", 19:"[U-mag]",
                   20:"Timestamp", 22:"Last Face", 23:"Tracker", 24:"Reflector", 25:"Target",
                   26:"RMS Error", 27:"Temperature", 28:"Pressure", 29:"Humidity",
                   30:"Mode", 31:"Status", 32:"Type measurement", 
                   34:"Level compensation 1", 35:"Level compensation 2", 36:"Level compensation 3",
                   37:"varx", 38:"CoVar_xy", 39:"CoVar_xz", 40:"CoVar_xy", 41:"Var_y", 42:"CoVar_yz", 
                   43:"CoVar_xz", 44:"CoVar_yz", 45:"value"},inplace=True)

# df['Group'] = df['Group'].str.replace("  ", "")
# df['Point'] = df['Point'].str.replace("  ", "")
# df['Point'] = df['Point'].str.replace("  ", "")

# nani = pd.NA
# type(df['[Var(z)]'].iloc[2820])
value = "Var-z"
# p = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ").to_markdown(); print(p)
i_change = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ").index

colnames= df.columns.values; #print(colnames[22:-1]) #print(colnames[23:])

coln_track_from = colnames[22:-1]
coln_track_to = colnames[23:]
# for i,val in enumerate(df['Last Face'].iloc[i_change]):

#     if(val == "  Leica AT403 394315"):
#         for j,edit in enumerate(coln_track_to):
#             print(j, edit, df.loc[(i_change[i]), (coln_track_from[j])])
            # df.loc[i_change[i], (coln_track_to[j])] = df.loc[i_change[i], (coln_track_from[j])]

            # df.loc[i_change[i], (colnames[22])] = "Face 2 - Works!"
        
y = list(df.loc[(i_change[0]), (colnames[22:-1])])
z = colnames[23:]
zz = colnames[22:-1]


len(y), len(z), len(zz)
save_index = 123
copy_list = list(df.loc[(i_change[0]), (coln_track_from)].values)

# df.loc[i_change[0], (colnames[22])] = "Face 2"
df.loc[i_change[0], coln_track_to]
len(copy_list), len(coln_track_from)
# print(len(colnames))
# x  =df.to_markdown(); print(x)
# df
# i_change = [123]
df1 = df.copy()
for i,val in enumerate(i_change):
    # print(i,val)
    for j,edit_col in enumerate(coln_track_from):
        # print(j,edit_col, ">", coln_track_to[j])
        print("######### new -----------")
        print(j,coln_track_from[j], ">",coln_track_to[j])
        print(j,df1.loc[val, df1.columns[22+j]], ">", df.loc[val, df.columns[23+j]])

        p = df1.loc[i_change, df.columns[22+j]]
        print(p.to_markdown())
        print('into')
        p = df.loc[i_change, df.columns[23+j]]
        print(p.to_markdown())
        x = ("").join(list(str(df1.loc[val, df1.columns[22+j]])))
        
        print('insert x=', x)
        df.loc[val, df.columns[23+j]] = np.nan
        df.loc[val, df.columns[23+j]] = x

        p = df.loc[i_change, df.columns[23+j]]
        print(p.to_markdown())

x = list(df1.loc[i_change, (coln_track_from)[0]])
print(df.loc[i_change, (coln_track_to[0])])
df.loc[i_change, (coln_track_to[0])] = x
print(df.loc[i_change, (coln_track_to[0])])
p = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ").to_markdown(); print(p)
# p=df.loc[i_change, df.columns[22:]].to_markdown();print(p)

######### new -----------
0 Last Face > Tracker
0   Leica AT403 394315 >   Reflector 'RRR 1.5in'
|      | Last Face          |
|-----:|:-------------------|
|  123 | Leica AT403 394315 |
|  183 | Leica AT403 394315 |
| 1748 | Leica AT401 390741 |
| 1815 | Leica AT403 394315 |
| 1936 | Leica AT403 394315 |
| 1949 | Leica AT403 394315 |
| 2175 | Face 2:            |
| 2178 | Face 2:            |
| 2192 | Face 2:            |
| 2211 | Face 2:            |
| 2319 | Leica AT403 394315 |
into
|      | Tracker               |
|-----:|:----------------------|
|  123 | Reflector 'RRR 1.5in' |
|  183 | Reflector 'RRR 1.5in' |
| 1748 | Reflector 'RRR 1.5in' |
| 1815 | Reflector 'RRR 1.5in' |
| 1936 | Reflector 'RRR 1.5in' |
| 1949 | Reflector 'RRR 1.5in' |
| 2175 | Leica AT403 394315    |
| 2178 | Leica AT403 394315    |
| 2192 | Leica AT403 394315    |
| 2211 | Leica AT403 394315    |
| 2319 | Reflector 'RRR 1.5in' |
insert x=   Leica AT403 394315
|      | Tracker               |
|-----:|:----------------------|
|  123 | Leica AT403 394315    |
|  183 | Reflector 'RRR 1.5in' |
| 1748 | Reflector 'RRR 1.5in' |
| 1815 | Reflector 'RRR 1.5in' |
| 1936 | Reflector 'RRR 1.5in' |
| 1949 | Reflector 'RRR 1.5in' |
| 2175 | Leica AT403 394315    |
| 2178 | Leica AT403 394315    |
| 2192 | Leica AT403 394315    |
| 2211 | Leica AT403 394315    |
| 2319 | Reflector 'RRR 1.5in' |
######### new -----------
1 Tracker > Reflector
1   Reflector 'RRR 1.5in' >   Target 'SMR: RRR 1.5in'
|      | Tracker               |
|-----:|:----------------------|
|  123 | Reflector 'RRR 1.5in' |
|  183 | Reflector 'RRR 1.5in' |
| 1748 | Reflector 'RRR 1.5in' |
| 1815 | Reflector 'RRR 1.5in' |
| 1936 | Reflector 'RRR 1.5in' |
| 1949 | Reflector 'RRR 1.5in' |
| 2175 | Leica AT403 394315    |
| 2178 | Leica AT403 394315    |
| 2192 | Leica AT403 394315    |
| 2211 | Leica AT403 394315    |
| 2319 | Reflector 'RRR 1.5in' |
into
|      | Reflector               |
|-----:|:------------------------|
|  123 | Target 'SMR: RRR 1.5in' |
|  183 | Target 'SMR: RRR 1.5in' |
| 1748 | Target 'SMR: RRR 1.5in' |
| 1815 | Target 'SMR: RRR 1.5in' |
| 1936 | Target 'SMR: RRR 1.5in' |
| 1949 | Target 'SMR: RRR 1.5in' |
| 2175 | Reflector 'RRR 1.5in'   |
| 2178 | Reflector 'RRR 1.5in'   |
| 2192 | Reflector 'RRR 1.5in'   |
| 2211 | Reflector 'RRR 1.5in'   |
| 2319 | Target 'SMR: RRR 1.5in' |
insert x=   Reflector 'RRR 1.5in'
|      | Reflector               |
|-----:|:------------------------|
|  123 | Reflector 'RRR 1.5in'   |
|  183 | Target 'SMR: RRR 1.5in' |
| 1748 | Target 'SMR: RRR 1.5in' |
| 1815 | Target 'SMR: RRR 1.5in' |
| 1936 | Target 'SMR: RRR 1.5in' |
| 1949 | Target 'SMR: RRR 1.5in' |
| 2175 | Reflector 'RRR 1.5in'   |
| 2178 | Reflector 'RRR 1.5in'   |
| 2192 | Reflector 'RRR 1.5in'   |
| 2211 | Reflector 'RRR 1.5in'   |
| 2319 | Target 'SMR: RRR 1.5in' |
######### new -----------
2 Reflector > Target
2   Target 'SMR: RRR 1.5in' >   RMS Error 0.002315 mm
|      | Reflector               |
|-----:|:------------------------|
|  123 | Target 'SMR: RRR 1.5in' |
|  183 | Target 'SMR: RRR 1.5in' |
| 1748 | Target 'SMR: RRR 1.5in' |
| 1815 | Target 'SMR: RRR 1.5in' |
| 1936 | Target 'SMR: RRR 1.5in' |
| 1949 | Target 'SMR: RRR 1.5in' |
| 2175 | Reflector 'RRR 1.5in'   |
| 2178 | Reflector 'RRR 1.5in'   |
| 2192 | Reflector 'RRR 1.5in'   |
| 2211 | Reflector 'RRR 1.5in'   |
| 2319 | Target 'SMR: RRR 1.5in' |
into
|      | Target                  |
|-----:|:------------------------|
|  123 | RMS Error 0.002315 mm   |
|  183 | RMS Error 0.005810 mm   |
| 1748 | RMS Error 0.002833 mm   |
| 1815 | RMS Error 0.004152 mm   |
| 1936 | RMS Error 0.001926 mm   |
| 1949 | RMS Error 0.005719 mm   |
| 2175 | Target 'SMR: RRR 1.5in' |
| 2178 | Target 'SMR: RRR 1.5in' |
| 2192 | Target 'SMR: RRR 1.5in' |
| 2211 | Target 'SMR: RRR 1.5in' |
| 2319 | RMS Error 0.001417 mm   |
insert x=   Target 'SMR: RRR 1.5in'
|      | Target                  |
|-----:|:------------------------|
|  123 | Target 'SMR: RRR 1.5in' |
|  183 | RMS Error 0.005810 mm   |
| 1748 | RMS Error 0.002833 mm   |
| 1815 | RMS Error 0.004152 mm   |
| 1936 | RMS Error 0.001926 mm   |
| 1949 | RMS Error 0.005719 mm   |
| 2175 | Target 'SMR: RRR 1.5in' |
| 2178 | Target 'SMR: RRR 1.5in' |
| 2192 | Target 'SMR: RRR 1.5in' |
| 2211 | Target 'SMR: RRR 1.5in' |
| 2319 | RMS Error 0.001417 mm   |
######### new -----------
3 Target > RMS Error
3   RMS Error 0.002315 mm >   Weather:T=29.4C
|      | Target                  |
|-----:|:------------------------|
|  123 | RMS Error 0.002315 mm   |
|  183 | RMS Error 0.005810 mm   |
| 1748 | RMS Error 0.002833 mm   |
| 1815 | RMS Error 0.004152 mm   |
| 1936 | RMS Error 0.001926 mm   |
| 1949 | RMS Error 0.005719 mm   |
| 2175 | Target 'SMR: RRR 1.5in' |
| 2178 | Target 'SMR: RRR 1.5in' |
| 2192 | Target 'SMR: RRR 1.5in' |
| 2211 | Target 'SMR: RRR 1.5in' |
| 2319 | RMS Error 0.001417 mm   |
into
|      | RMS Error       |
|-----:|:----------------|
|  123 | Weather:T=29.4C |
|  183 | Weather:T=29.1C |
| 1748 | Weather:T=21.6C |
| 1815 | Weather:T=21.9C |
| 1936 | Weather:T=19.2C |
| 1949 | Weather:T=22.0C |
| 2175 | Weather:T=21.7C |
| 2178 | Weather:T=21.7C |
| 2192 | Weather:T=21.9C |
| 2211 | Weather:T=21.8C |
| 2319 | Weather:T=21.8C |
insert x=   RMS Error 0.002315 mm
|      | RMS Error             |
|-----:|:----------------------|
|  123 | RMS Error 0.002315 mm |
|  183 | Weather:T=29.1C       |
| 1748 | Weather:T=21.6C       |
| 1815 | Weather:T=21.9C       |
| 1936 | Weather:T=19.2C       |
| 1949 | Weather:T=22.0C       |
| 2175 | Weather:T=21.7C       |
| 2178 | Weather:T=21.7C       |
| 2192 | Weather:T=21.9C       |
| 2211 | Weather:T=21.8C       |
| 2319 | Weather:T=21.8C       |
######### new -----------
4 RMS Error > Temperature
4   Weather:T=29.4C > P=1001.7hPA(mbar)
|      | RMS Error       |
|-----:|:----------------|
|  123 | Weather:T=29.4C |
|  183 | Weather:T=29.1C |
| 1748 | Weather:T=21.6C |
| 1815 | Weather:T=21.9C |
| 1936 | Weather:T=19.2C |
| 1949 | Weather:T=22.0C |
| 2175 | Weather:T=21.7C |
| 2178 | Weather:T=21.7C |
| 2192 | Weather:T=21.9C |
| 2211 | Weather:T=21.8C |
| 2319 | Weather:T=21.8C |
into
|      | Temperature       |
|-----:|:------------------|
|  123 | P=1001.7hPA(mbar) |
|  183 | P=1001.7hPA(mbar) |
| 1748 | P=1000.4hPA(mbar) |
| 1815 | P=1002.2hPA(mbar) |
| 1936 | P=1012.5hPA(mbar) |
| 1949 | P=1012.8hPA(mbar) |
| 2175 | P=1004.4hPA(mbar) |
| 2178 | P=1004.5hPA(mbar) |
| 2192 | P=1004.7hPA(mbar) |
| 2211 | P=1004.6hPA(mbar) |
| 2319 | P=1001.6hPA(mbar) |
insert x=   Weather:T=29.4C
|      | Temperature       |
|-----:|:------------------|
|  123 | Weather:T=29.4C   |
|  183 | P=1001.7hPA(mbar) |
| 1748 | P=1000.4hPA(mbar) |
| 1815 | P=1002.2hPA(mbar) |
| 1936 | P=1012.5hPA(mbar) |
| 1949 | P=1012.8hPA(mbar) |
| 2175 | P=1004.4hPA(mbar) |
| 2178 | P=1004.5hPA(mbar) |
| 2192 | P=1004.7hPA(mbar) |
| 2211 | P=1004.6hPA(mbar) |
| 2319 | P=1001.6hPA(mbar) |
######### new -----------
5 Temperature > Pressure
5 P=1001.7hPA(mbar) > H=38.9%
|      | Temperature       |
|-----:|:------------------|
|  123 | P=1001.7hPA(mbar) |
|  183 | P=1001.7hPA(mbar) |
| 1748 | P=1000.4hPA(mbar) |
| 1815 | P=1002.2hPA(mbar) |
| 1936 | P=1012.5hPA(mbar) |
| 1949 | P=1012.8hPA(mbar) |
| 2175 | P=1004.4hPA(mbar) |
| 2178 | P=1004.5hPA(mbar) |
| 2192 | P=1004.7hPA(mbar) |
| 2211 | P=1004.6hPA(mbar) |
| 2319 | P=1001.6hPA(mbar) |
into
|      | Pressure   |
|-----:|:-----------|
|  123 | H=38.9%    |
|  183 | H=38.8%    |
| 1748 | H=57.0%    |
| 1815 | H=53.8%    |
| 1936 | H=63.6%    |
| 1949 | H=54.5%    |
| 2175 | H=61.7%    |
| 2178 | H=61.6%    |
| 2192 | H=60.2%    |
| 2211 | H=59.8%    |
| 2319 | H=50.0%    |
insert x= P=1001.7hPA(mbar)
|      | Pressure          |
|-----:|:------------------|
|  123 | P=1001.7hPA(mbar) |
|  183 | H=38.8%           |
| 1748 | H=57.0%           |
| 1815 | H=53.8%           |
| 1936 | H=63.6%           |
| 1949 | H=54.5%           |
| 2175 | H=61.7%           |
| 2178 | H=61.6%           |
| 2192 | H=60.2%           |
| 2211 | H=59.8%           |
| 2319 | H=50.0%           |
######### new -----------
6 Pressure > Humidity
6 H=38.9% >   Measure Time Discrete Point Standard Pt. To SA
|      | Pressure   |
|-----:|:-----------|
|  123 | H=38.9%    |
|  183 | H=38.8%    |
| 1748 | H=57.0%    |
| 1815 | H=53.8%    |
| 1936 | H=63.6%    |
| 1949 | H=54.5%    |
| 2175 | H=61.7%    |
| 2178 | H=61.6%    |
| 2192 | H=60.2%    |
| 2211 | H=59.8%    |
| 2319 | H=50.0%    |
into
|      | Humidity                                       |
|-----:|:-----------------------------------------------|
|  123 | Measure Time Discrete Point Standard Pt. To SA |
|  183 | Measure Time Discrete Point Standard Pt. To SA |
| 1748 | Measure Time Discrete Point Standard Pt. To SA |
| 1815 | Measure Time Discrete Point Standard Pt. To SA |
| 1936 | Measure Time Discrete Point Standard Pt. To SA |
| 1949 | Measure Time Discrete Point Standard Pt. To SA |
| 2175 | Measure Time Discrete Point Standard Pt. To SA |
| 2178 | Measure Time Discrete Point Standard Pt. To SA |
| 2192 | Measure Time Discrete Point Standard Pt. To SA |
| 2211 | Measure Time Discrete Point Standard Pt. To SA |
| 2319 | Measure Time Discrete Point Standard Pt. To SA |
insert x= H=38.9%
|      | Humidity                                       |
|-----:|:-----------------------------------------------|
|  123 | H=38.9%                                        |
|  183 | Measure Time Discrete Point Standard Pt. To SA |
| 1748 | Measure Time Discrete Point Standard Pt. To SA |
| 1815 | Measure Time Discrete Point Standard Pt. To SA |
| 1936 | Measure Time Discrete Point Standard Pt. To SA |
| 1949 | Measure Time Discrete Point Standard Pt. To SA |
| 2175 | Measure Time Discrete Point Standard Pt. To SA |
| 2178 | Measure Time Discrete Point Standard Pt. To SA |
| 2192 | Measure Time Discrete Point Standard Pt. To SA |
| 2211 | Measure Time Discrete Point Standard Pt. To SA |
| 2319 | Measure Time Discrete Point Standard Pt. To SA |
######### new -----------
7 Humidity > Mode
7   Measure Time Discrete Point Standard Pt. To SA >   emScon FAST Measurement Mode Used Laser Status: Ready
|      | Humidity                                       |
|-----:|:-----------------------------------------------|
|  123 | Measure Time Discrete Point Standard Pt. To SA |
|  183 | Measure Time Discrete Point Standard Pt. To SA |
| 1748 | Measure Time Discrete Point Standard Pt. To SA |
| 1815 | Measure Time Discrete Point Standard Pt. To SA |
| 1936 | Measure Time Discrete Point Standard Pt. To SA |
| 1949 | Measure Time Discrete Point Standard Pt. To SA |
| 2175 | Measure Time Discrete Point Standard Pt. To SA |
| 2178 | Measure Time Discrete Point Standard Pt. To SA |
| 2192 | Measure Time Discrete Point Standard Pt. To SA |
| 2211 | Measure Time Discrete Point Standard Pt. To SA |
| 2319 | Measure Time Discrete Point Standard Pt. To SA |
into
|      | Mode                                                  |
|-----:|:------------------------------------------------------|
|  123 | emScon FAST Measurement Mode Used Laser Status: Ready |
|  183 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1748 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1815 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1936 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1949 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2175 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2178 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2192 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2211 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2319 | emScon FAST Measurement Mode Used Laser Status: Ready |
insert x=   Measure Time Discrete Point Standard Pt. To SA
|      | Mode                                                  |
|-----:|:------------------------------------------------------|
|  123 | Measure Time Discrete Point Standard Pt. To SA        |
|  183 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1748 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1815 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1936 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1949 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2175 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2178 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2192 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2211 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2319 | emScon FAST Measurement Mode Used Laser Status: Ready |
######### new -----------
8 Mode > Status
8   emScon FAST Measurement Mode Used Laser Status: Ready  >  Front/Back=True
|      | Mode                                                  |
|-----:|:------------------------------------------------------|
|  123 | emScon FAST Measurement Mode Used Laser Status: Ready |
|  183 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1748 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1815 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1936 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 1949 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2175 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2178 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2192 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2211 | emScon FAST Measurement Mode Used Laser Status: Ready |
| 2319 | emScon FAST Measurement Mode Used Laser Status: Ready |
into
|      | Status          |
|-----:|:----------------|
|  123 | Front/Back=True |
|  183 | Front/Back=True |
| 1748 | Front/Back=True |
| 1815 | Front/Back=True |
| 1936 | Front/Back=True |
| 1949 | Front/Back=True |
| 2175 | Front/Back=True |
| 2178 | Front/Back=True |
| 2192 | Front/Back=True |
| 2211 | Front/Back=True |
| 2319 | Front/Back=True |
insert x=   emScon FAST Measurement Mode Used Laser Status: Ready
|      | Status                                                |
|-----:|:------------------------------------------------------|
|  123 | emScon FAST Measurement Mode Used Laser Status: Ready |
|  183 | Front/Back=True                                       |
| 1748 | Front/Back=True                                       |
| 1815 | Front/Back=True                                       |
| 1936 | Front/Back=True                                       |
| 1949 | Front/Back=True                                       |
| 2175 | Front/Back=True                                       |
| 2178 | Front/Back=True                                       |
| 2192 | Front/Back=True                                       |
| 2211 | Front/Back=True                                       |
| 2319 | Front/Back=True                                       |
######### new -----------
9 Status > Type measurement
9  Front/Back=True > Separate Obs
|      | Status          |
|-----:|:----------------|
|  123 | Front/Back=True |
|  183 | Front/Back=True |
| 1748 | Front/Back=True |
| 1815 | Front/Back=True |
| 1936 | Front/Back=True |
| 1949 | Front/Back=True |
| 2175 | Front/Back=True |
| 2178 | Front/Back=True |
| 2192 | Front/Back=True |
| 2211 | Front/Back=True |
| 2319 | Front/Back=True |
into
|      | Type measurement   |
|-----:|:-------------------|
|  123 | Separate Obs       |
|  183 | Separate Obs       |
| 1748 | Separate Obs       |
| 1815 | Separate Obs       |
| 1936 | Separate Obs       |
| 1949 | Separate Obs       |
| 2175 | Separate Obs       |
| 2178 | Separate Obs       |
| 2192 | Separate Obs       |
| 2211 | Separate Obs       |
| 2319 | Separate Obs       |
insert x=  Front/Back=True
|      | Type measurement   |
|-----:|:-------------------|
|  123 | Front/Back=True    |
|  183 | Separate Obs       |
| 1748 | Separate Obs       |
| 1815 | Separate Obs       |
| 1936 | Separate Obs       |
| 1949 | Separate Obs       |
| 2175 | Separate Obs       |
| 2178 | Separate Obs       |
| 2192 | Separate Obs       |
| 2211 | Separate Obs       |
| 2319 | Separate Obs       |
######### new -----------
10 Type measurement > 33
10 Separate Obs >   std components: 1 = 0.000368
|      | Type measurement   |
|-----:|:-------------------|
|  123 | Separate Obs       |
|  183 | Separate Obs       |
| 1748 | Separate Obs       |
| 1815 | Separate Obs       |
| 1936 | Separate Obs       |
| 1949 | Separate Obs       |
| 2175 | Separate Obs       |
| 2178 | Separate Obs       |
| 2192 | Separate Obs       |
| 2211 | Separate Obs       |
| 2319 | Separate Obs       |
into
|      | 33                           |
|-----:|:-----------------------------|
|  123 | std components: 1 = 0.000368 |
|  183 | std components: 1 = 0.000144 |
| 1748 | std components: 1 = 0.001905 |
| 1815 | std components: 1 = 0.000370 |
| 1936 | std components: 1 = 0.000094 |
| 1949 | std components: 1 = 0.001712 |
| 2175 | std components: 1 = 0.000000 |
| 2178 | std components: 1 = 0.000000 |
| 2192 | std components: 1 = 0.000000 |
| 2211 | std components: 1 = 0.000000 |
| 2319 | std components: 1 = 0.000181 |
insert x= Separate Obs
|      | 33                           |
|-----:|:-----------------------------|
|  123 | Separate Obs                 |
|  183 | std components: 1 = 0.000144 |
| 1748 | std components: 1 = 0.001905 |
| 1815 | std components: 1 = 0.000370 |
| 1936 | std components: 1 = 0.000094 |
| 1949 | std components: 1 = 0.001712 |
| 2175 | std components: 1 = 0.000000 |
| 2178 | std components: 1 = 0.000000 |
| 2192 | std components: 1 = 0.000000 |
| 2211 | std components: 1 = 0.000000 |
| 2319 | std components: 1 = 0.000181 |
######### new -----------
11 33 > Level compensation 1
11   std components: 1 = 0.000368 >  2 = 0.000081
|      | 33                           |
|-----:|:-----------------------------|
|  123 | std components: 1 = 0.000368 |
|  183 | std components: 1 = 0.000144 |
| 1748 | std components: 1 = 0.001905 |
| 1815 | std components: 1 = 0.000370 |
| 1936 | std components: 1 = 0.000094 |
| 1949 | std components: 1 = 0.001712 |
| 2175 | std components: 1 = 0.000000 |
| 2178 | std components: 1 = 0.000000 |
| 2192 | std components: 1 = 0.000000 |
| 2211 | std components: 1 = 0.000000 |
| 2319 | std components: 1 = 0.000181 |
into
|      | Level compensation 1   |
|-----:|:-----------------------|
|  123 | 2 = 0.000081           |
|  183 | 2 = 0.000920           |
| 1748 | 2 = 0.000019           |
| 1815 | 2 = 0.000228           |
| 1936 | 2 = 0.000534           |
| 1949 | 2 = 0.002819           |
| 2175 | 2 = 0.000000           |
| 2178 | 2 = 0.000000           |
| 2192 | 2 = 0.000000           |
| 2211 | 2 = 0.000000           |
| 2319 | 2 = 0.000289           |
insert x=   std components: 1 = 0.000368
|      | Level compensation 1         |
|-----:|:-----------------------------|
|  123 | std components: 1 = 0.000368 |
|  183 | 2 = 0.000920                 |
| 1748 | 2 = 0.000019                 |
| 1815 | 2 = 0.000228                 |
| 1936 | 2 = 0.000534                 |
| 1949 | 2 = 0.002819                 |
| 2175 | 2 = 0.000000                 |
| 2178 | 2 = 0.000000                 |
| 2192 | 2 = 0.000000                 |
| 2211 | 2 = 0.000000                 |
| 2319 | 2 = 0.000289                 |
######### new -----------
12 Level compensation 1 > Level compensation 2
12  2 = 0.000081 >  3 = 0.000100 mm Level Compensation ON
|      | Level compensation 1   |
|-----:|:-----------------------|
|  123 | 2 = 0.000081           |
|  183 | 2 = 0.000920           |
| 1748 | 2 = 0.000019           |
| 1815 | 2 = 0.000228           |
| 1936 | 2 = 0.000534           |
| 1949 | 2 = 0.002819           |
| 2175 | 2 = 0.000000           |
| 2178 | 2 = 0.000000           |
| 2192 | 2 = 0.000000           |
| 2211 | 2 = 0.000000           |
| 2319 | 2 = 0.000289           |
into

In [232]:
p = df.loc[i_change, df.columns[22:]].to_markdown(); print(p)

|     | Last Face   | Tracker   | Reflector             | Target                  | RMS Error             | Temperature     | Pressure          | Humidity   | Mode                                           | Status                                                | Type measurement   | 33           | Level compensation 1         | Level compensation 2   | Level compensation 3                  |        varx |   [CoVar(xy)] |   [CoVar(xy)] |   [CoVar(xz)] |   [CoVar(xz)] |   [CoVar(xy)] |   [CoVar(xy)] |     [Var(y)] |   [CoVar(yz)] |   [CoVar(yz)] |   [CoVar(xz)] |   [CoVar(xz)] |   [CoVar(yz)] |   [CoVar(yz)] |   value |
|----:|:------------|:----------|:----------------------|:------------------------|:----------------------|:----------------|:------------------|:-----------|:-----------------------------------------------|:------------------------------------------------------|:-------------------|:-------------|:-----------------------------|:-----------------------|:--------------------------------------|------------:|--------------:|--------------:|--------------:|--------------:|--------------:|--------------:|-------------:|--------------:|--------------:|--------------:|--------------:|--------------:|--------------:|--------:|
| 123 | Face 2      | Face 2    | Reflector 'RRR 1.5in' | Target 'SMR: RRR 1.5in' | RMS Error 0.002315 mm | Weather:T=29.4C | P=1001.7hPA(mbar) | H=38.9%    | Measure Time Discrete Point Standard Pt. To SA | emScon FAST Measurement Mode Used Laser Status: Ready | Front/Back=True    | Separate Obs | std components: 1 = 0.000368 | 2 = 0.000081           | 3 = 0.000100 mm Level Compensation ON | 0.000839142 |  -0.000120116 |   0.000885171 |  -3.66157e-06 |  -9.49533e-06 |  -0.000120116 |   0.000885171 | -9.49533e-06 |  -0.000120116 |   0.000573972 |  -3.66157e-06 |  -9.49533e-06 |  -0.000120116 |   0.000573972 |     nan |

In [210]:
print(val)
i_change[0]

123

123

In [ ]:
import pandas as pd
import numpy as np
ver = 12
file1 = f"C:/Users/alelen/Documents/Export Data/All_points_{ver}.txt"
path = "C:/Users/alelen/Documents/Export Data/"
fields = ["Collection"]
# df = pd.read_csv(file1, skiprows=5, delimiter=",", on_bad_lines="skip", usecols=fields, skip_blank_lines=True)
# df = pd.read_csv(file1, skiprows=5, sep=", ", on_bad_lines="skip", skip_blank_lines=True)
df = pd.read_csv(file1, skiprows=6, sep=",", header=None, on_bad_lines="skip", skip_blank_lines=True, engine="python")

df.rename(columns={0:"Collection", 1:"Group", 2:"Point", 3:"X", 4:"Y", 5:"Z", 6:"Planar offset", 7:"Radial offset",
                   16:"[U-x]", 17:"[U-y]", 18:"[U-z]", 19:"[U-mag]",
                   20:"Timestamp", 22:"Last Face", 23:"Tracker", 24:"Reflector", 25:"Target",
                   26:"RMS Error", 27:"Temperature", 28:"Pressure", 29:"Humidity",
                   30:"Mode", 31:"Status", 32:"Type measurement", 
                   34:"Level compensation 1", 35:"Level compensation 2", 36:"Level compensation 3",
                   37:"[Var(x)]", 38:"[CoVar(xy)]", 39:"[CoVar(xz)]", 40:"[CoVar(xy)]", 41:"[Var(y)]", 42:"[CoVar(yz)]", 
                   43:"[CoVar(xz)]", 44:"[CoVar(yz)]", 45:"[Var(z)]"},inplace=True)

#df = pd.read_table(file1, skiprows=6, sep=",  ", header=None, on_bad_lines="skip", skip_blank_lines=True, engine="python")

#x = df.to_markdown(); print(x)
# df.to_csv(path+f"All_points_cleaned{ver}.txt")

df.tail(1)
df['Temperature'] = df['Temperature'].str.removeprefix('  Weather:T=',)
df['Pressure'] = df['Pressure'].str.lstrip('  P=',)
df['Humidity'] = df['Humidity'].str.lstrip('  H=',)
df['Humidity'] = df['Humidity'].str.rstrip('%',)
# pd.to_numeric(df["Humidity"])

def celsius(fahrenheit): return round(5*(fahrenheit-32)/9,1)

for i,val in enumerate(df['Temperature']):
    if(val[-1]=='F'):
        T = celsius(float(val.split('F')[0]))
        df['Temperature'].iloc[i] = f'{T}C'

def mPa(inHg): return round(inHg*33.863889532610884,1)

for i,val in enumerate(df["Pressure"]):
    if(val[-1] == 'g'):
        P = mPa(float(val.split('inHg')[0]))
        df['Pressure'].iloc[i] = f'{P}hPA(mbar)'

df[['Temperature', 'Pressure', 'Humidity']]
df['Temperature'].str.rstrip('C')
# x = df.to_markdown(); print(x)

df['Temperature'] = df['Temperature'].str.rstrip('C')
df['Pressure'] = df['Pressure'].str.rstrip('hPA(mbar)')
df['Temperature'] = pd.to_numeric(df['Temperature'])
df['Pressure'] = pd.to_numeric(df['Pressure'])
df['Humidity'] = pd.to_numeric(df['Humidity'])

df.to_csv(path+f"All_points_cleaned{ver}.txt")

df[['[U-x]', '[U-y]', '[U-z]', '[U-mag]']].sort_values(by='[U-mag]')
df[['Temperature', 'Pressure', 'Humidity']].sort_values(by='Temperature')


df['Point'].str.strip().to_clipboard()
df['Point'] = df['Point'].str.replace("  ", "")



df['Group'] = df['Group'].str.replace("  ", "")
df['Group'].unique()
st = {}
for i in df['Group'].unique():
    st[i]=[0,0,0]
st