In [293]:
import pandas as pd
import numpy as np
ver = 13
file1 = f"C:/Users/alelen/Documents/Export Data/All_points_{ver}.txt"
path = "C:/Users/alelen/Documents/Export Data/"
fields = ["Collection"]
# df = pd.read_csv(file1, skiprows=5, delimiter=",", on_bad_lines="skip", usecols=fields, skip_blank_lines=True)
# df = pd.read_csv(file1, skiprows=5, sep=", ", on_bad_lines="skip", skip_blank_lines=True)
df = pd.read_csv(file1, skiprows=6, sep=",", header=None, on_bad_lines="skip", skip_blank_lines=True, engine="python")
df.rename(columns={0:"Collection", 1:"Group", 2:"Point", 3:"R", 4:"Theta", 5:"Phi", 6:"Planar offset", 7:"Radial offset",
                   16:"[U-r]", 17:"[U-theta]", 18:"[U-phi]", 19:"[U-mag]",
                   20:"Timestamp", 22:"Last Face", 23:"Tracker", 24:"Reflector", 25:"Target",
                   26:"RMS Error", 27:"Temperature", 28:"Pressure", 29:"Humidity",
                   30:"Mode", 31:"Status", 32:"Type measurement", 
                   34:"Level compensation 1", 35:"Level compensation 2", 36:"Level compensation 3",
                   37:"varx", 38:"CoVar_xy", 39:"CoVar_xz", 40:"CoVar_xy", 41:"Var_y", 42:"CoVar_yz", 
                   43:"CoVar_xz", 44:"CoVar_yz", 45:"value"},inplace=True)

# df['Group'] = df['Group'].str.replace("  ", "")
# df['Point'] = df['Point'].str.replace("  ", "")
# df['Point'] = df['Point'].str.replace("  ", "")

# nani = pd.NA
# type(df['[Var(z)]'].iloc[2820])
value = "Var-z"
# p = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ").to_markdown(); print(p)
i_change = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ").index

colnames= df.columns.values; #print(colnames[22:-1]) #print(colnames[23:])

coln_track_from = colnames[22:-1]
coln_track_to = colnames[23:]
# for i,val in enumerate(df['Last Face'].iloc[i_change]):

#     if(val == "  Leica AT403 394315"):
#         for j,edit in enumerate(coln_track_to):
#             print(j, edit, df.loc[(i_change[i]), (coln_track_from[j])])
            # df.loc[i_change[i], (coln_track_to[j])] = df.loc[i_change[i], (coln_track_from[j])]

            # df.loc[i_change[i], (colnames[22])] = "Face 2 - Works!"
        
y = list(df.loc[(i_change[0]), (colnames[22:-1])])
z = colnames[23:]
zz = colnames[22:-1]


len(y), len(z), len(zz)
save_index = 123
copy_list = list(df.loc[(i_change[0]), (coln_track_from)].values)

# df.loc[i_change[0], (colnames[22])] = "Face 2"
df.loc[i_change[0], coln_track_to]
len(copy_list), len(coln_track_from)
# print(len(colnames))
# x  =df.to_markdown(); print(x)
# df
# i_change = [123]
df1 = df.copy()
for i,val in enumerate(i_change):
    # print(i,val)
    if(df.loc[val, df.columns[22]] == "  Leica AT403 394315"):
        print(i,val, df.loc[val, df.columns[22]])
        for j,edit_col in enumerate(coln_track_from):
            # print(j,edit_col, ">", coln_track_to[j])
            # print("######### new -----------")
            # print(j,coln_track_from[j], ">",coln_track_to[j])
            # print(j,df1.loc[val, df1.columns[22+j]], ">", df.loc[val, df.columns[23+j]])

            p = df1.loc[i_change, df.columns[22+j]]
            # print(p.to_markdown())
            # print('into')
            p = df.loc[i_change, df.columns[23+j]]
            # print(p.to_markdown())
            x = ("").join(list(str(df1.loc[val, df1.columns[22+j]])))
            
            # print('insert x=', x)
            df.loc[val, df.columns[23+j]] = np.nan
            df.loc[val, df.columns[23+j]] = x
            df.loc[val, df.columns[22]] = "Face 2"

            p = df.loc[i_change, df.columns[23+j]]
            # print(p.to_markdown())

x = list(df1.loc[i_change, (coln_track_from)[0]])
# print(df.loc[i_change, (coln_track_to[0])])
# df.loc[i_change, (coln_track_to[0])] = x
# print(df.loc[i_change, (coln_track_to[0])])
p = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ").to_markdown(); print(p)
# p=df.loc[i_change, df.columns[22:]].to_markdown();print(p)

0 123   Leica AT403 394315
1 183   Leica AT403 394315
3 1815   Leica AT403 394315
4 1936   Leica AT403 394315
5 1949   Leica AT403 394315
10 2319   Leica AT403 394315
|      | Collection               | Group   | Point   |      R |   Theta |      Phi |   Planar offset |   Radial offset | 8   | 9   | 10   | 11   | 12   | 13   | 14   | 15   |      [U-r] |   [U-theta] |     [U-phi] |   [U-mag] | Timestamp         | 21   | Last Face          | Tracker               | Reflector               | Target                  | RMS Error       | Temperature       | Pressure   | Humidity                                       | Mode                                                  | Status          | Type measurement   | 33                           | Level compensation 1   | Level compensation 2                  |   Level compensation 3 |         varx |     CoVar_xy |     CoVar_xz |    CoVar_xy |        Var_y |     CoVar_yz |     CoVar_xz |    CoVar_yz |   value |
|-----:|:-------------------------|:--------|:--------|-------:|--------:|---------:|----------------:|----------------:|:----|:----|:-----|:-----|:-----|:-----|:-----|:-----|-----------:|------------:|------------:|----------:|:------------------|:-----|:-------------------|:----------------------|:------------------------|:------------------------|:----------------|:------------------|:-----------|:-----------------------------------------------|:------------------------------------------------------|:----------------|:-------------------|:-----------------------------|:-----------------------|:--------------------------------------|-----------------------:|-------------:|-------------:|-------------:|------------:|-------------:|-------------:|-------------:|------------:|--------:|
| 1748 | 1.5 Gev Ring survey      | ST86    | L0404   | 174310 | 2.15691 |  82.5607 |           19.05 |           19.05 |     |     |      |      |      |      |      |      | 0.00496348 | 1.6595e-06  | 2.53496e-06 | 0.0104486 | 06/30/23 13:43:37 |      | Leica AT401 390741 | Reflector 'RRR 1.5in' | Target 'SMR: RRR 1.5in' | RMS Error 0.002833 mm   | Weather:T=21.6C | P=1000.4hPA(mbar) | H=57.0%    | Measure Time Discrete Point Standard Pt. To SA | emScon FAST Measurement Mode Used Laser Status: Ready | Front/Back=True | Separate Obs       | std components: 1 = 0.001905 | 2 = 0.000019           | 3 = 0.001050 mm Level Compensation ON |            4.83985e-05 | -2.28971e-06 | -1.10012e-05 | -2.28971e-06 | 4.98809e-05 |  1.51246e-05 | -1.10012e-05 |  1.51246e-05 | 0.000119401 |     nan |
| 2175 | 1.5 Gev Beamlines survey | ST058   | L0826   | 129679 | 1.91477 |  84.5057 |           19.05 |           19.05 |     |     |      |      |      |      |      |      | 0.0125374  | 5.52138e-06 | 5.52002e-06 | 0.0216336 | 07/17/23 11:53:15 |      | Face 2:            | Leica AT403 394315    | Reflector 'RRR 1.5in'   | Target 'SMR: RRR 1.5in' | Weather:T=21.7C | P=1004.4hPA(mbar) | H=61.7%    | Measure Time Discrete Point Standard Pt. To SA | emScon FAST Measurement Mode Used Laser Status: Ready | Front/Back=True | Separate Obs       | std components: 1 = 0.000000 | 2 = 0.000000           | 3 = 0.000000 mm Level Compensation ON |            0.000309636 |  8.83552e-06 | -1.51299e-05 |  8.83552e-06 | 0.000315586 |  1.08705e-05 | -1.51299e-05 |  1.08705e-05 | 0.000303319 |     nan |
| 2178 | 1.5 Gev Beamlines survey | ST058   | L0902   | 137205 | 2.80366 |  83.9046 |           19.05 |           19.05 |     |     |      |      |      |      |      |      | 0.0263734  | 1.53649e-05 | 1.44743e-05 | 0.0568815 | 07/17/23 11:54:50 |      | Face 2:            | Leica AT403 394315    | Reflector 'RRR 1.5in'   | Target 'SMR: RRR 1.5in' | Weather:T=21.7C | P=1004.5hPA(mbar) | H=61.6%    | Measure Time Discrete Point Standard Pt. To SA | emScon FAST Measurement Mode Used Laser Status: Ready | Front/Back=True | Separate Obs       | std components: 1 = 0.000000 | 2 = 0.000000           | 3 = 0.000000 mm Level Compensation ON |            0.00146423  | -0.000102519 | -0.000587071 | -0.000102519 | 0.00261008  | -5.21112e-05 | -0.000587071 | -5.21112e-05 | 0.00232077  |     nan |
| 2192 | 1.5 Gev Beamlines survey | ST060   | L1039   | 143516 | 1.7628  | 103.225  |           19.05 |           19.05 |     |     |      |      |      |      |      |      | 0.0143731  | 6.42034e-06 | 6.23885e-06 | 0.0263797 | 07/17/23 14:40:07 |      | Face 2:            | Leica AT403 394315    | Reflector 'RRR 1.5in'   | Target 'SMR: RRR 1.5in' | Weather:T=21.9C | P=1004.7hPA(mbar) | H=60.2%    | Measure Time Discrete Point Standard Pt. To SA | emScon FAST Measurement Mode Used Laser Status: Ready | Front/Back=True | Separate Obs       | std components: 1 = 0.000000 | 2 = 0.000000           | 3 = 0.000000 mm Level Compensation ON |            0.000425429 |  3.54642e-05 |  5.59134e-05 |  3.54642e-05 | 0.000483507 | -2.64831e-05 |  5.59134e-05 | -2.64831e-05 | 0.000458551 |     nan |
| 2211 | 1.5 Gev Beamlines survey | ST061   | L1035   | 137179 | 1.83565 | 101.872  |           19.05 |           19.05 |     |     |      |      |      |      |      |      | 0.0209139  | 1.24722e-05 | 1.25757e-05 | 0.0468818 | 07/17/23 15:10:56 |      | Face 2:            | Leica AT403 394315    | Reflector 'RRR 1.5in'   | Target 'SMR: RRR 1.5in' | Weather:T=21.8C | P=1004.6hPA(mbar) | H=59.8%    | Measure Time Discrete Point Standard Pt. To SA | emScon FAST Measurement Mode Used Laser Status: Ready | Front/Back=True | Separate Obs       | std components: 1 = 0.000000 | 2 = 0.000000           | 3 = 0.000000 mm Level Compensation ON |            0.000994806 | -0.000162957 |  0.000268479 | -0.000162957 | 0.00177798  |  5.36339e-05 |  0.000268479 |  5.36339e-05 | 0.00172217  |     nan |

In [330]:
import pandas as pd
import numpy as np
ver = 13
file1 = f"C:/Users/alelen/Documents/Export Data/All_points_{ver}.txt"
path = "C:/Users/alelen/Documents/Export Data/"
fields = ["Collection"]
# df = pd.read_csv(file1, skiprows=5, delimiter=",", on_bad_lines="skip", usecols=fields, skip_blank_lines=True)
# df = pd.read_csv(file1, skiprows=5, sep=", ", on_bad_lines="skip", skip_blank_lines=True)
df = pd.read_csv(file1, skiprows=6, sep=",", header=None, on_bad_lines="skip", skip_blank_lines=True, engine="python")
df.rename(columns={0:"Collection", 1:"Group", 2:"Point", 3:"R", 4:"Theta", 5:"Phi", 6:"Planar offset", 7:"Radial offset",
                   16:"[U-r]", 17:"[U-theta]", 18:"[U-phi]", 19:"[U-mag]",
                   20:"Timestamp", 22:"Last Face", 23:"Tracker", 24:"Reflector", 25:"Target",
                   26:"RMS Error", 27:"Temperature", 28:"Pressure", 29:"Humidity",
                   30:"Mode", 31:"Status", 32:"Type measurement", 
                   34:"Level compensation 1", 35:"Level compensation 2", 36:"Level compensation 3",
                   37:"varx", 38:"CoVar_xy", 39:"CoVar_xz", 40:"CoVar_xy", 41:"Var_y", 42:"CoVar_yz", 
                   43:"CoVar_xz", 44:"CoVar_yz", 45:"value"},inplace=True)

# df['Group'] = df['Group'].str.replace("  ", "")
# df['Point'] = df['Point'].str.replace("  ", "")
# df['Point'] = df['Point'].str.replace("  ", "")

value = "Var-z"
# p = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ").to_markdown(); print(p)
i_change = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ").index

colnames= df.columns.values; #print(colnames[22:-1]) #print(colnames[23:])

coln_track_from = colnames[22:-1]
coln_track_to = colnames[23:]

coln_track_from_rms = colnames[26:-1]
coln_track_to_rms = colnames[26:]

        
y = list(df.loc[(i_change[0]), (colnames[22:-1])])
z = colnames[23:]
zz = colnames[22:-1]


len(y), len(z), len(zz)
save_index = 123
copy_list = list(df.loc[(i_change[0]), (coln_track_from)].values)

df.loc[i_change[0], coln_track_to]
len(copy_list), len(coln_track_from)

def df_switch(i,val, df, coln_track_from, col_number, REPLACE_WITH):

    for j,edit_col in enumerate(coln_track_from):
        x = ("").join(list(str(df1.loc[val, df1.columns[col_number+j]])))

        df.loc[val, df.columns[col_number+j+1]] = np.nan
        df.loc[val, df.columns[col_number+j+1]] = x
        df.loc[val, df.columns[col_number]] = REPLACE_WITH

    return 1

df1 = df.copy()
for i,val in enumerate(i_change):
    # print(i,val)
    if(df.loc[val, df.columns[22]] == "  Leica AT403 394315"):
        df_switch(i,val, df, coln_track_from, 22,"  Leica AT403 394315")
    if(df.loc[val, df.columns[22]] == "  Leica AT401 390741"):
        df_switch(i,val, df, coln_track_from, 22,"  Leica AT401 390741")
    if(df.loc[val, df.columns[26]].split("eather")[0] == "  W"):
        df_switch(i,val, df, coln_track_from_rms, 26,"  RMS 0 mm")
        # pass
    
    





p = df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) "); print(p.to_markdown())
len(p.index)
# p=df.loc[i_change, df.columns[22:]].to_markdown();print(p)
# len(df.columns)-len(coln_track_from_rms)-1

| Collection   | Group   | Point   | R   | Theta   | Phi   | Planar offset   | Radial offset   | 8   | 9   | 10   | 11   | 12   | 13   | 14   | 15   | [U-r]   | [U-theta]   | [U-phi]   | [U-mag]   | Timestamp   | 21   | Last Face   | Tracker   | Reflector   | Target   | RMS Error   | Temperature   | Pressure   | Humidity   | Mode   | Status   | Type measurement   | 33   | Level compensation 1   | Level compensation 2   | Level compensation 3   | varx   | CoVar_xy   | CoVar_xz   | CoVar_xy   | Var_y   | CoVar_yz   | CoVar_xz   | CoVar_yz   | value   |
|--------------|---------|---------|-----|---------|-------|-----------------|-----------------|-----|-----|------|------|------|------|------|------|---------|-------------|-----------|-----------|-------------|------|-------------|-----------|-------------|----------|-------------|---------------|------------|------------|--------|----------|--------------------|------|------------------------|------------------------|------------------------|--------|------------|------------|------------|---------|------------|------------|------------|---------|

0

In [333]:
i = [2175,2178, 2192, 2211]
if(df.loc[2175, df.columns[26]].split("eather")[0] == "  W"):
    print('Success')
df.loc[2175, df.columns[26:]]

RMS Error                                                        RMS 0 mm
Temperature                                               Weather:T=21.7C
Pressure                                                P=1004.4hPA(mbar)
Humidity                                                          H=61.7%
Mode                       Measure Time Discrete Point Standard Pt. To SA
Status                    emScon FAST Measurement Mode Used Laser Stat...
Type measurement                                          Front/Back=True
33                                                           Separate Obs
Level compensation 1                         std components: 1 = 0.000000
Level compensation 2                                         2 = 0.000000
Level compensation 3                3 = 0.000000 mm Level Compensation ON
varx                                                         3.096363e-04
CoVar_xy                CoVar_xz    0.000009\nCoVar_xz    0.000011\nNa...
CoVar_xy                CoVar_xz    0.000009\nCoVar_xz    0.000011\nNa...
CoVar_xz                CoVar_yz   -0.000015\nCoVar_yz    0.000303\nNa...
CoVar_xz                CoVar_yz   -0.000015\nCoVar_yz    0.000303\nNa...
CoVar_xy                CoVar_xz    0.000009\nCoVar_xz    0.000011\nNa...
CoVar_xy                CoVar_xz    0.000009\nCoVar_xz    0.000011\nNa...
Var_y                   CoVar_xy   -0.000015\nCoVar_xy    0.000316\nNa...
CoVar_yz                CoVar_xz    0.000009\nCoVar_xz    0.000011\nNa...
CoVar_yz                CoVar_xz    0.000009\nCoVar_xz    0.000011\nNa...
CoVar_xz                CoVar_yz   -0.000015\nCoVar_yz    0.000303\nNa...
CoVar_xz                CoVar_yz   -0.000015\nCoVar_yz    0.000303\nNa...
CoVar_yz                CoVar_xz    0.000009\nCoVar_xz    0.000011\nNa...
CoVar_yz                CoVar_xz    0.000009\nCoVar_xz    0.000011\nNa...
value                   CoVar_yz   -0.000015\nCoVar_yz    0.000303\nNa...
Name: 2175, dtype: object

In [334]:
df.query("( value != value and not varx.isnull() ) or ( value.isnull() and not varx.isnull()  ) ")

Empty DataFrame
Columns: [Collection, Group, Point, R, Theta, Phi, Planar offset, Radial offset, 8, 9, 10, 11, 12, 13, 14, 15, [U-r], [U-theta], [U-phi], [U-mag], Timestamp, 21, Last Face, Tracker, Reflector, Target, RMS Error, Temperature, Pressure, Humidity, Mode, Status, Type measurement, 33, Level compensation 1, Level compensation 2, Level compensation 3, varx, CoVar_xy, CoVar_xz, CoVar_xy, Var_y, CoVar_yz, CoVar_xz, CoVar_yz, value]
Index: []

[0 rows x 46 columns]

In [ ]:
import pandas as pd
import numpy as np
ver = 12
file1 = f"C:/Users/alelen/Documents/Export Data/All_points_{ver}.txt"
path = "C:/Users/alelen/Documents/Export Data/"
fields = ["Collection"]
# df = pd.read_csv(file1, skiprows=5, delimiter=",", on_bad_lines="skip", usecols=fields, skip_blank_lines=True)
# df = pd.read_csv(file1, skiprows=5, sep=", ", on_bad_lines="skip", skip_blank_lines=True)
df = pd.read_csv(file1, skiprows=6, sep=",", header=None, on_bad_lines="skip", skip_blank_lines=True, engine="python")

df.rename(columns={0:"Collection", 1:"Group", 2:"Point", 3:"X", 4:"Y", 5:"Z", 6:"Planar offset", 7:"Radial offset",
                   16:"[U-x]", 17:"[U-y]", 18:"[U-z]", 19:"[U-mag]",
                   20:"Timestamp", 22:"Last Face", 23:"Tracker", 24:"Reflector", 25:"Target",
                   26:"RMS Error", 27:"Temperature", 28:"Pressure", 29:"Humidity",
                   30:"Mode", 31:"Status", 32:"Type measurement", 
                   34:"Level compensation 1", 35:"Level compensation 2", 36:"Level compensation 3",
                   37:"[Var(x)]", 38:"[CoVar(xy)]", 39:"[CoVar(xz)]", 40:"[CoVar(xy)]", 41:"[Var(y)]", 42:"[CoVar(yz)]", 
                   43:"[CoVar(xz)]", 44:"[CoVar(yz)]", 45:"[Var(z)]"},inplace=True)

#df = pd.read_table(file1, skiprows=6, sep=",  ", header=None, on_bad_lines="skip", skip_blank_lines=True, engine="python")

#x = df.to_markdown(); print(x)
# df.to_csv(path+f"All_points_cleaned{ver}.txt")

df.tail(1)
df['Temperature'] = df['Temperature'].str.removeprefix('  Weather:T=',)
df['Pressure'] = df['Pressure'].str.lstrip('  P=',)
df['Humidity'] = df['Humidity'].str.lstrip('  H=',)
df['Humidity'] = df['Humidity'].str.rstrip('%',)
# pd.to_numeric(df["Humidity"])

def celsius(fahrenheit): return round(5*(fahrenheit-32)/9,1)

for i,val in enumerate(df['Temperature']):
    if(val[-1]=='F'):
        T = celsius(float(val.split('F')[0]))
        df['Temperature'].iloc[i] = f'{T}C'

def mPa(inHg): return round(inHg*33.863889532610884,1)

for i,val in enumerate(df["Pressure"]):
    if(val[-1] == 'g'):
        P = mPa(float(val.split('inHg')[0]))
        df['Pressure'].iloc[i] = f'{P}hPA(mbar)'

df[['Temperature', 'Pressure', 'Humidity']]
df['Temperature'].str.rstrip('C')
# x = df.to_markdown(); print(x)

df['Temperature'] = df['Temperature'].str.rstrip('C')
df['Pressure'] = df['Pressure'].str.rstrip('hPA(mbar)')
df['Temperature'] = pd.to_numeric(df['Temperature'])
df['Pressure'] = pd.to_numeric(df['Pressure'])
df['Humidity'] = pd.to_numeric(df['Humidity'])

df.to_csv(path+f"All_points_cleaned{ver}.txt")

df[['[U-x]', '[U-y]', '[U-z]', '[U-mag]']].sort_values(by='[U-mag]')
df[['Temperature', 'Pressure', 'Humidity']].sort_values(by='Temperature')


df['Point'].str.strip().to_clipboard()
df['Point'] = df['Point'].str.replace("  ", "")



df['Group'] = df['Group'].str.replace("  ", "")
df['Group'].unique()
st = {}
for i in df['Group'].unique():
    st[i]=[0,0,0]
st

In [335]:
df

,Collection,Group,Point,R,Theta,Phi,Planar offset,Radial offset,8,9,...,Level compensation 3,varx,CoVar_xy,CoVar_xz,CoVar_xy,Var_y,CoVar_yz,CoVar_xz,CoVar_yz,value
0,1.5 Gev Ring tunnel survey,ST001,R115,153770.211476,1.786945,89.162990,19.05,19.05,,,...,3 = 0.000002 in Level Compensation ON,0.000496,-0.000052,0.000069,-0.000052,0.000714,0.000016,0.000069,0.000016,0.000705
1,1.5 Gev Ring tunnel survey,ST001,R114,153846.809192,2.399460,89.164204,19.05,19.05,,,...,3 = 0.000000 in Level Compensation ON,0.000472,0.00002,0.000067,0.00002,0.000692,-0.000006,0.000067,-0.000006,0.000674
2,1.5 Gev Ring tunnel survey,ST001,R110,149804.668692,1.831830,89.133978,19.05,19.05,,,...,3 = 0.000022 in Level Compensation ON,0.001014,-0.000136,0.000182,-0.000136,0.00205,0.000024,0.000182,0.000024,0.002036
3,1.5 Gev Ring tunnel survey,ST001,R108,149850.862462,2.332035,89.136895,19.05,19.05,,,...,3 = 0.000043 in Level Compensation ON,0.000985,0.000014,0.000181,0.000014,0.002035,-0.000002,0.000181,-0.000002,0.002004
4,1.5 Gev Ring tunnel survey,ST001,R001,157099.658668,2.350607,89.182969,19.05,19.05,,,...,3 = 0.000006 in Level Compensation ON,0.000176,-0.000006,-0.000021,-0.000006,0.000151,0.000005,-0.000021,0.000005,0.000167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,Solution,FAS 200%,L0402,174074.122753,2.186592,83.192642,0.00,0.00,,,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821,Solution,FAS 200%,L0401,174053.636506,1.993668,83.194695,0.00,0.00,,,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2822,Solution,FAS 200%,L0412,174514.572338,1.428822,81.896501,0.00,0.00,,,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2823,Solution,FAS 200%,Species F1,151552.087626,2.377873,80.113974,0.00,0.00,,,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2824,Solution,FAS 200%,Species F3,151619.677633,2.059874,80.095672,0.00,0.00,,,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN