In [239]:
import pandas as pd

rank_df = pd.read_excel("C:/Users/alelen/Documents/Export Data/point_measure_rank.xlsx", header=None).dropna()
# c = rank_df.head(8).to_markdown(); print(c)
# len(i_df)/7

# i_df_org = pd.DataFrame(columns=['Station name', 'Measures', 'Scale factor', 'Position X', 'Position Y', 'Position Z', 'Rx', 'Ry', 'Rz'])

# for i in range(0,len(i_df),7):
#     name = i_df[0].iloc[0+i]
#     meas = i_df[1].iloc[1+i]
#     scale = i_df[1].iloc[2+i]
#     px = i_df[1].iloc[4+i]
#     py = i_df[2].iloc[4+i]
#     pz = i_df[3].iloc[4+i]
#     rx = i_df[1].iloc[6+i]
#     ry = i_df[2].iloc[6+i]
#     rz = i_df[3].iloc[6+i]

#     i_df_org.loc[len(i_df_org)] = [name, meas, scale, px, py,pz, rx,ry,rz]

# i_df_org.loc[:, ('Station name')] = 'ST' + i_df_org['Station name'].str.split('ST').str[1]

# i_df_org

s = rank_df.loc[:,1].str.split("ST")[1][1]

t = s.split(" ")

# for i in t:
#     print(i)

t[0], t[-2]

ss = rank_df.loc[:,1].str.split("ST").str[1].str.split(" ")

# ss.str.split(" ")
# print(ss)
ss.str[-2]
# rank_df['Group'] = f"ST{ss.str[0]}"
rank_df['rank'] = ss.str[-2]
rank_df.loc[:, 'rank'] = rank_df['rank'].str.removesuffix("%")
rank_df['Group'] = "ST"+(ss.str[0])



# rank_df['rank'].str.removesuffix("%")
rank_df.loc[:, 'rank'] = pd.to_numeric(rank_df.loc[:, 'rank'])
# c = rank_df.head(8).to_markdown(); print(c)


rank_df_org = rank_df.loc[:, ('Group', 0, 'rank')]
rank_df_org.rename(columns={0:"Point"}, inplace=True)

rank_df_org.loc[:,'rank'] = rank_df.loc[:,'rank'].astype('int')
# rank_df 
rank_df_org['rank']

0     200
1     199
2      97
3      80
4      71
     ...
91     36
92     37
93     43
94    184
95    162
Name: rank, Length: 89, dtype: object

In [235]:
# for i in rank_df_org.groupby(["Group"]):
#     print(i)

df_g = rank_df_org.groupby(["Group"]).get_group("ST003")

unique_group = rank_df_org['Group'].unique()
for i,val in enumerate(unique_group):
    # print(val)
    df_st = rank_df_org.groupby(["Group"]).get_group(val)
    if(len(df_st) == 2):
        m_df= df_st.mean(numeric_only=True)
        # print(f"Rank {m_df}")
        # print(df_st.to_markdown())
    else:
        print("Failure", len(df_st))
len(df_g)

dg = rank_df_org.groupby(["Group"]).get_group("ST003")

m_rank = sum(list(dg.loc[:, ('rank')]))/2
tmp_df = pd.DataFrame(columns=['Group', 'Point', 'mean_rank'])
# tmp_df = [dg.loc[0,0], dg.loc[0,1], m_rank]
tmp_df

# dg.loc[dg.index[0],('Group', 'Point')]

sn =dg.loc[dg.index[0],('Group')]
p =dg.loc[dg.index[0],('Point')]
tmp_df.loc[len(tmp_df)] = [sn, p, m_rank]

tmp_df

Failure 4
Failure 4
Failure 4
Failure 1

   Group  Point  mean_rank
0  ST003  F0104       15.0

In [316]:
import pandas as pd

rank_df = pd.read_excel("C:/Users/alelen/Documents/Export Data/point_measure_rank.xlsx", header=None).dropna()

s = rank_df.loc[:,1].str.split("ST")[1][1]

ss = rank_df.loc[:,1].str.split("ST").str[1].str.split(" ")

ss.str[-2]

rank_df['rank'] = ss.str[-2]
rank_df.loc[:, 'rank'] = rank_df['rank'].str.removesuffix("%")
rank_df['Group'] = "ST"+(ss.str[0])

## break 1


rank_df.loc[:, 'rank'] = pd.to_numeric(rank_df.loc[:, 'rank'])



rank_df_org = rank_df.loc[:, ('Group', 0, 'rank')]
rank_df_org.rename(columns={0:"Point"}, inplace=True)

rank_df_org.loc[:,'rank'] = rank_df.loc[:,'rank'].astype('int')

rank_df_org['rank']

tmp_df = pd.DataFrame(columns=['Group', 'Point', 'mean_rank(2)'])

df_g = rank_df_org.groupby(["Group"]).get_group("ST003")

unique_group = rank_df_org['Group'].unique()
for i,val in enumerate(unique_group):

    df_st = rank_df_org.groupby(["Group"]).get_group(val)
    if(len(df_st) == 2):
        m_rank = sum(list(df_st.loc[:, ('rank')]))/2
        sn =df_st.loc[df_st.index[0],('Group')]
        p =df_st.loc[df_st.index[0],('Point')]
        tmp_df.loc[len(tmp_df)] = [sn, p, m_rank]
    elif(len(df_st) == 1):
        print(df_st.to_markdown())
    elif(len(df_st) == 4):
        sn =df_st.loc[df_st.index[0],('Group')]
        p =df_st.loc[df_st.index,('Point')]
        print(df_st.to_markdown())
        l = list(df_st.loc[:, ('rank')])
        # p2 = [p[n*2] for n in range(int(len(p)/2))]
        print(l,sn)
        print(p)
        # print(p,p2)
    else:
        print("Failure", len(df_st))
len(df_g)



dg = rank_df_org.groupby(["Group"]).get_group("ST003")

m_rank = sum(list(dg.loc[:, ('rank')]))/2


tmp_df


sn =dg.loc[dg.index[0],('Group')]
p =dg.loc[dg.index[0],('Point')]

print(len(tmp_df))
tmp_df

|    | Group   | Point   |   rank |
|---:|:--------|:--------|-------:|
|  0 | ST030   | L0706   |    200 |
|  1 | ST030   | L0706   |    199 |
| 49 | ST030   | L0704   |    192 |
| 50 | ST030   | L0704   |    191 |
[200, 199, 192, 191] ST030
0     L0706
1     L0706
49    L0704
50    L0704
Name: Point, dtype: object
Failure 6
Failure 8
Failure 14
Failure 12
Failure 14
Failure 6
Failure 9
Failure 6
Failure 10
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  21 | ST001   | F0104   |     28 |
|  22 | ST001   | F0104   |     81 |
| 149 | ST001   | R109    |     61 |
| 150 | ST001   | R109    |     28 |
[28, 81, 61, 28] ST001
21     F0104
22     F0104
149     R109
150     R109
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  23 | ST002   | F0104   |     53 |
|  24 | ST002   | F0104   |     28 |
| 151 | ST002   | R109    |     45 |
| 152 | ST002   | R109    |     44 |
[53, 28, 45, 44] ST002
23     F0104
24     F0104
151     R109
152     R109
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  25 | ST003   | F0104   |     21 |
|  26 | ST003   | F0104   |      9 |
| 153 | ST003   | R109    |     55 |
| 154 | ST003   | R109    |     52 |
[21, 9, 55, 52] ST003
25     F0104
26     F0104
153     R109
154     R109
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  27 | ST008   | F0104   |    199 |
|  28 | ST008   | F0104   |     62 |
| 161 | ST008   | R109    |     35 |
| 162 | ST008   | R109    |     52 |
[199, 62, 35, 52] ST008
27     F0104
28     F0104
161     R109
162     R109
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  31 | ST010   | F0104   |     44 |
|  32 | ST010   | F0104   |     41 |
| 129 | ST010   | R104    |    142 |
| 130 | ST010   | R104    |    175 |
[44, 41, 142, 175] ST010
31     F0104
32     F0104
129     R104
130     R104
Name: Point, dtype: object
|    | Group   | Point   |   rank |
|---:|:--------|:--------|-------:|
| 51 | ST55    | L0704   |     28 |
| 52 | ST55    | L0704   |     23 |
| 62 | ST55    | L0613   |     41 |
| 63 | ST55    | L0613   |     33 |
[28, 23, 41, 33] ST55
51    L0704
52    L0704
62    L0613
63    L0613
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  55 | ST59    | L0704   |     74 |
|  56 | ST59    | L0704   |     97 |
| 192 | ST59    | R073    |     18 |
| 193 | ST59    | R073    |     48 |
[74, 97, 18, 48] ST59
55     L0704
56     L0704
192     R073
193     R073
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  86 | ST038   | L1103   |    103 |
|  87 | ST038   | L1103   |    102 |
| 242 | ST038   | L1026   |     65 |
| 243 | ST038   | L1026   |     89 |
[103, 102, 65, 89] ST038
86     L1103
87     L1103
242    L1026
243    L1026
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  88 | ST042   | L1103   |    122 |
|  89 | ST042   | L1103   |    121 |
| 246 | ST042   | L1026   |     23 |
| 247 | ST042   | L1026   |     24 |
[122, 121, 23, 24] ST042
88     L1103
89     L1103
246    L1026
247    L1026
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  90 | ST063   | L1103   |     37 |
|  91 | ST063   | L1103   |     36 |
| 248 | ST063   | L1026   |     22 |
| 249 | ST063   | L1026   |     13 |
[37, 36, 22, 13] ST063
90     L1103
91     L1103
248    L1026
249    L1026
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  92 | ST70    | L1103   |     37 |
|  93 | ST70    | L1103   |     43 |
| 250 | ST70    | L1026   |    159 |
| 251 | ST70    | L1026   |    159 |
[37, 43, 159, 159] ST70
92     L1103
93     L1103
250    L1026
251    L1026
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  97 | ST87    | L0820   |     17 |
|  98 | ST87    | L0820   |     25 |
| 318 | ST87    | L0742   |     20 |
| 319 | ST87    | L0742   |     19 |
[17, 25, 20, 19] ST87
97     L0820
98     L0820
318    L0742
319    L0742
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 107 | ST046   | L0820   |     16 |
| 108 | ST046   | L0820   |     10 |
| 326 | ST046   | L0742   |     61 |
| 327 | ST046   | L0742   |     80 |
[16, 10, 61, 80] ST046
107    L0820
108    L0820
326    L0742
327    L0742
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 137 | ST014   | R104    |     31 |
| 138 | ST014   | R104    |     34 |
| 280 | ST014   | R078    |     16 |
| 281 | ST014   | R078    |     23 |
[31, 34, 16, 23] ST014
137    R104
138    R104
280    R078
281    R078
Name: Point, dtype: object
Failure 6
Failure 6
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 146 | ST103   | L0205   |     39 |
| 147 | ST103   | L0205   |     42 |
| 212 | ST103   | L0201   |     47 |
| 213 | ST103   | L0201   |     57 |
[39, 42, 47, 57] ST103
146    L0205
147    L0205
212    L0201
213    L0201
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 155 | ST004   | R109    |     46 |
| 156 | ST004   | R109    |     45 |
| 253 | ST004   | R028    |     25 |
| 254 | ST004   | R028    |     12 |
[46, 45, 25, 12] ST004
155    R109
156    R109
253    R028
254    R028
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 157 | ST005   | R109    |     31 |
| 158 | ST005   | R109    |     29 |
| 255 | ST005   | R028    |     43 |
| 256 | ST005   | R028    |     32 |
[31, 29, 43, 32] ST005
157    R109
158    R109
255    R028
256    R028
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 159 | ST006   | R109    |     27 |
| 160 | ST006   | R109    |     26 |
| 257 | ST006   | R028    |     69 |
| 258 | ST006   | R028    |     49 |
[27, 26, 69, 49] ST006
159    R109
160    R109
257    R028
258    R028
Name: Point, dtype: object
Failure 6
Failure 5
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 166 | ST027   | R109    |    165 |
| 167 | ST027   | R109    |    166 |
| 296 | ST027   | R078    |    124 |
| 297 | ST027   | R078    |    124 |
[165, 166, 124, 124] ST027
166    R109
167    R109
296    R078
297    R078
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 168 | ST028   | R109    |    170 |
| 169 | ST028   | R109    |    171 |
| 298 | ST028   | R078    |    157 |
| 299 | ST028   | R078    |    157 |
[170, 171, 157, 157] ST028
168    R109
169    R109
298    R078
299    R078
Name: Point, dtype: object
Failure 6
Failure 6
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 186 | ST017   | R073    |     64 |
| 187 | ST017   | R073    |     65 |
| 286 | ST017   | R078    |     36 |
| 287 | ST017   | R078    |     41 |
[64, 65, 36, 41] ST017
186    R073
187    R073
286    R078
287    R078
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 197 | ST043   | L1205   |    164 |
| 198 | ST043   | L1205   |    164 |
| 234 | ST043   | L1204   |    159 |
| 235 | ST043   | L1204   |    159 |
[164, 164, 159, 159] ST043
197    L1205
198    L1205
234    L1204
235    L1204
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 201 | ST52    | L1205   |     48 |
| 202 | ST52    | L1205   |     58 |
| 350 | ST52    | L1208   |     57 |
| 351 | ST52    | L1208   |      9 |
[48, 58, 57, 9] ST52
201    L1205
202    L1205
350    L1208
351    L1208
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 203 | ST53    | L1205   |     63 |
| 204 | ST53    | L1205   |     63 |
| 236 | ST53    | L1204   |    119 |
| 237 | ST53    | L1204   |    118 |
[63, 63, 119, 118] ST53
203    L1205
204    L1205
236    L1204
237    L1204
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 205 | ST73    | L1205   |     82 |
| 206 | ST73    | L1205   |     66 |
| 238 | ST73    | L1204   |     75 |
| 239 | ST73    | L1204   |     23 |
[82, 66, 75, 23] ST73
205    L1205
206    L1205
238    L1204
239    L1204
Name: Point, dtype: object
Failure 6
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 217 | ST019   | R059    |     51 |
| 218 | ST019   | R059    |     34 |
| 290 | ST019   | R078    |     11 |
| 291 | ST019   | R078    |     14 |
[51, 34, 11, 14] ST019
217    R059
218    R059
290    R078
291    R078
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 219 | ST020   | R059    |     43 |
| 220 | ST020   | R059    |     43 |
| 292 | ST020   | R078    |     18 |
| 293 | ST020   | R078    |     25 |
[43, 43, 18, 25] ST020
219    R059
220    R059
292    R078
293    R078
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 225 | ST023   | R059    |     28 |
| 226 | ST023   | R059    |     58 |
| 261 | ST023   | R028    |     50 |
| 262 | ST023   | R028    |     30 |
[28, 58, 50, 30] ST023
225    R059
226    R059
261    R028
262    R028
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 231 | ST029   | R059    |    163 |
| 232 | ST029   | R059    |    164 |
| 341 | ST029   | R085    |    151 |
| 342 | ST029   | R085    |    151 |
[163, 164, 151, 151] ST029
231    R059
232    R059
341    R085
342    R085
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 240 | ST74    | L1204   |     66 |
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 300 | ST62    | R078    |     76 |
| 301 | ST62    | R078    |    125 |
| 330 | ST62    | L0742   |     77 |
| 331 | ST62    | L0742   |     32 |
[76, 125, 77, 32] ST62
300     R078
301     R078
330    L0742
331    L0742
Name: Point, dtype: object
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 309 | ST67    | L0824   |     46 |
| 310 | ST67    | L0824   |     47 |
| 343 | ST67    | R085    |     74 |
| 344 | ST67    | R085    |     65 |
[46, 47, 74, 65] ST67
309    L0824
310    L0824
343     R085
344     R085
Name: Point, dtype: object
36

    Group  Point  mean_rank(2)
0   ST009  F0104          27.0
1   ST034  L1021         136.0
2   ST035  L1021          19.5
3   ST036  L1021          37.0
4   ST056  L1021          32.0
5   ST057  L1021          42.5
6   ST059  L1021          37.0
7    ST64  L1021         126.5
8    ST54  L0613         114.5
9    ST56  L0613          85.5
10  ST100  L0613         151.5
11  ST101  L0613         153.5
12   ST71  L1103         173.0
13   ST88  L0820          30.0
14  ST050  L0820          26.5
15  ST011   R104         112.0
16  ST012   R104          65.5
17  ST013   R104          44.0
18  ST075  L0205         174.5
19   ST58   R073          46.0
20  ST070  L1205          78.5
21  ST021   R059          45.5
22  ST022   R059          32.0
23  ST039  L1026          25.0
24  ST007   R028          99.5
25  ST024   R028          54.5
26   ST78   R028          44.5
27   ST79   R028          52.5
28   ST80   R028          47.0
29   ST81   R028          56.5
30  ST052  L0824          98.0
31   ST68  L0824          76.0
32   ST69  L0824          97.0
33   ST91  L0742          35.0
34   ST50  L1208         136.0
35   ST51  L1208          57.5

In [350]:
import pandas as pd
import numpy as np

rank_df = pd.read_excel("C:/Users/alelen/Documents/Export Data/point_measure_rank.xlsx", header=None).dropna()

s = rank_df.loc[:,1].str.split("ST")[1][1]

ss = rank_df.loc[:,1].str.split("ST").str[1].str.split(" ")

ss.str[-2]

rank_df['rank'] = ss.str[-2]
rank_df.loc[:, 'rank'] = rank_df['rank'].str.removesuffix("%")
rank_df['Group'] = "ST"+(ss.str[0])

## break 1


rank_df.loc[:, 'rank'] = pd.to_numeric(rank_df.loc[:, 'rank'])



rank_df_org = rank_df.loc[:, ('Group', 0, 'rank')]
rank_df_org.rename(columns={0:"Point"}, inplace=True)

rank_df_org.loc[:,'rank'] = rank_df.loc[:,'rank'].astype('int')

rank_df_org['rank']

tmp_df = pd.DataFrame(columns=['Group', 'Point', 'mean_rank(2)'])

df_g = rank_df_org.groupby(["Group"]).get_group("ST003")

failure_count =0
unique_group = rank_df_org['Group'].unique()
for i,val in enumerate(unique_group):

    df_st = rank_df_org.groupby(["Group"]).get_group(val)
    if(len(df_st) == 2):
        m_rank = sum(list(df_st.loc[:, ('rank')]))/2
        sn =df_st.loc[df_st.index[0],('Group')]
        p =df_st.loc[df_st.index[0],('Point')]
        tmp_df.loc[len(tmp_df)] = [sn, p, m_rank]
    elif(len(df_st) == 1):
        print(df_st.to_markdown())
    elif(len(df_st) == 4):
        lp_rank = list(df_st.loc[:, ('rank')])
        m_r = [(lp_rank[2*n]+lp_rank[2*n+1])/2 for n in range(int(len(lp_rank)/2))]
        sn =df_st.loc[df_st.index[0],('Group')]
        p =df_st.loc[df_st.index,('Point')]
        pn = [p[p.index[2*n]] for n in range(int(len(lp_rank)/2))]
        sn = [sn for nn in range(int(len(lp_rank)/2))]
        c = [
            sn,
            pn,
            m_r,
        ]
        c = np.array(c).T
        tt_df = pd.DataFrame(data=c, columns=['Group', 'Point', 'mean_rank(2)'])
        print('tt')
        print(tt_df.to_markdown())
        tmp_df = pd.concat([tmp_df,tt_df])
        print(df_st.to_markdown())
        print(lp_rank,sn)
        print(p,pn,m_r)
        # print(p,p2)
    else:
        # print("Failure", len(df_st))
        failure_count+=1
len(df_g)



dg = rank_df_org.groupby(["Group"]).get_group("ST003")



tmp_df


sn =dg.loc[dg.index[0],('Group')]
p =dg.loc[dg.index[0],('Point')]

# print(len(tmp_df))
tmp_df

####
a = [200, 199, 192, 191]

m_r = [(a[2*n]+a[2*n+1])/2 for n in range(int(len(a)/2))]
[p[n] for n in range(int(len(a)/2))]
[n for n in range(int(len(a)/2))]

df_st = rank_df_org.groupby(["Group"]).get_group("ST030")
p =df_st.loc[df_st.index,('Point')]
p
pn = [p[p.index[2*n]] for n in range(int(len(a)/2))]

# print(m,pn)
tmp_df2 = pd.DataFrame(columns=['Group', 'Point', 'mean_rank(2)'])

b = ['ST030', 'ST030']

c = [
    b,
    pn,
    m_r,
]
import numpy as np
c = np.array(c).T
tt = pd.DataFrame(c, columns=['Group', 'Point', 'mean_rank(2)'])
tmp_df2 = pd.concat([tmp_df2,tt])


pn
print(len(tmp_df), failure_count, f'{len(tmp_df)/(len(tmp_df)+failure_count):.2f}',len(tmp_df)+failure_count, len(rank_df))
tmp_df

tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST036   | L1021   |             37 |
|  1 | ST036   | L1019   |            144 |
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  38 | ST036   | L1021   |     41 |
|  39 | ST036   | L1021   |     33 |
| 397 | ST036   | L1019   |    144 |
| 398 | ST036   | L1019   |    144 |
[41, 33, 144, 144] ['ST036', 'ST036']
38     L1021
39     L1021
397    L1019
398    L1019
Name: Point, dtype: object ['L1021', 'L1019'] [37.0, 144.0]
tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST88    | L0820   |             30 |
|  1 | ST88    | L0738   |             41 |
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
|  99 | ST88    | L0820   |     46 |
| 100 | ST88    | L0820   |     14 |
| 792 | ST88    | L0738   |     42 |
| 793 | ST88    | L0738   |     40 |
[46, 14, 42, 40] ['ST88', 'ST88']
99     L0820
100    L0820
792    L0738
793    L0738
Name: Point, dtype: object ['L0820', 'L0738'] [30.0, 41.0]
tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST91    | L0742   |             35 |
|  1 | ST91    | L0729   |             42 |
|      | Group   | Point   |   rank |
|-----:|:--------|:--------|-------:|
|  316 | ST91    | L0742   |     49 |
|  317 | ST91    | L0742   |     21 |
| 1158 | ST91    | L0729   |     27 |
| 1159 | ST91    | L0729   |     57 |
[49, 21, 27, 57] ['ST91', 'ST91']
316     L0742
317     L0742
1158    L0729
1159    L0729
Name: Point, dtype: object ['L0742', 'L0729'] [35.0, 42.0]
tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST066   | L1044   |          112.5 |
|  1 | ST066   | L1041   |           56   |
|      | Group   | Point   |   rank |
|-----:|:--------|:--------|-------:|
|  463 | ST066   | L1044   |    140 |
|  464 | ST066   | L1044   |     85 |
| 1475 | ST066   | L1041   |     68 |
| 1476 | ST066   | L1041   |     44 |
[140, 85, 68, 44] ['ST066', 'ST066']
463     L1044
464     L1044
1475    L1041
1476    L1041
Name: Point, dtype: object ['L1044', 'L1041'] [112.5, 56.0]
tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST049   | L0741   |           20.5 |
|  1 | ST049   | L0738   |           16   |
|     | Group   | Point   |   rank |
|----:|:--------|:--------|-------:|
| 635 | ST049   | L0741   |     21 |
| 636 | ST049   | L0741   |     20 |
| 798 | ST049   | L0738   |     18 |
| 799 | ST049   | L0738   |     14 |
[21, 20, 18, 14] ['ST049', 'ST049']
635    L0741
636    L0741
798    L0738
799    L0738
Name: Point, dtype: object ['L0741', 'L0738'] [20.5, 16.0]
tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST061   | L1027   |           33.5 |
|  1 | ST061   | L1041   |           94.5 |
|      | Group   | Point   |   rank |
|-----:|:--------|:--------|-------:|
|  699 | ST061   | L1027   |     26 |
|  700 | ST061   | L1027   |     41 |
| 1473 | ST061   | L1041   |     94 |
| 1474 | ST061   | L1041   |     95 |
[26, 41, 94, 95] ['ST061', 'ST061']
699     L1027
700     L1027
1473    L1041
1474    L1041
Name: Point, dtype: object ['L1027', 'L1041'] [33.5, 94.5]
tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST062   | L1027   |           19   |
|  1 | ST062   | L1062   |           20.5 |
|      | Group   | Point   |   rank |
|-----:|:--------|:--------|-------:|
|  701 | ST062   | L1027   |     16 |
|  702 | ST062   | L1027   |     22 |
| 1615 | ST062   | L1062   |     29 |
| 1616 | ST062   | L1062   |     12 |
[16, 22, 29, 12] ['ST062', 'ST062']
701     L1027
702     L1027
1615    L1062
1616    L1062
Name: Point, dtype: object ['L1027', 'L1062'] [19.0, 20.5]
tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST033   | L0720   |           81.5 |
|  1 | ST033   | L0722   |           73.5 |
|      | Group   | Point   |   rank |
|-----:|:--------|:--------|-------:|
| 1028 | ST033   | L0720   |     58 |
| 1029 | ST033   | L0720   |    105 |
| 1216 | ST033   | L0722   |    101 |
| 1217 | ST033   | L0722   |     46 |
[58, 105, 101, 46] ['ST033', 'ST033']
1028    L0720
1029    L0720
1216    L0722
1217    L0722
Name: Point, dtype: object ['L0720', 'L0722'] [81.5, 73.5]
tt
|    | Group   | Point   |   mean_rank(2) |
|---:|:--------|:--------|---------------:|
|  0 | ST073   | L1229   |           18   |
|  1 | ST073   | L0101   |           49.5 |
|      | Group   | Point   |   rank |
|-----:|:--------|:--------|-------:|
| 1205 | ST073   | L1229   |     25 |
| 1206 | ST073   | L1229   |     11 |
| 1219 | ST073   | L0101   |     54 |
| 1220 | ST073   | L0101   |     45 |
[25, 11, 54, 45] ['ST073', 'ST073']
1205    L1229
1206    L1229
1219    L0101
1220    L0101
Name: Point, dtype: object ['L1229', 'L0101'] [18.0, 49.5]
29 97 0.23 126 1745

    Group  Point mean_rank(2)
0   ST036  L1021         37.0
1   ST036  L1019        144.0
0    ST88  L0820         30.0
1    ST88  L0738         41.0
4   ST070  L1205         78.5
0    ST91  L0742         35.0
1    ST91  L0729         42.0
0   ST066  L1044        112.5
1   ST066  L1041         56.0
0   ST049  L0741         20.5
1   ST049  L0738         16.0
11  ST077  L0741         27.0
0   ST061  L1027         33.5
1   ST061  L1041         94.5
0   ST062  L1027         19.0
1   ST062  L1062         20.5
16  ST048  L0730         11.0
17  ST078  L0730         25.5
0   ST033  L0720         81.5
1   ST033  L0722         73.5
0   ST073  L1229         18.0
1   ST073  L0101         49.5
22  ST074  L1229         82.5
23  ST054  L0828         38.0
24  ST055  L0828         53.0
25  ST060  L1041         52.5
26  ST068  L1298         60.5
27  ST069  L1298         21.0
28  ST037  L1017         50.5

In [323]:
sn = "ST030"
lp_rank = [0,1,2,3]
sn = [sn for nn in range(int(len(lp_rank)/2))]
sn

['ST030', 'ST030']